<!DOCTPYE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fizbone Thailand</title>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fizbone.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
        <div id="content">{{{markup}}}</div>
        <script src="/js/bundle.js"></script>
</body>
</html>
